<h1>Hi, <%= @user.name %></h1>
<% if @user.admin %>
    <p>ADMIN</p>
<% end %>

Name: <%= @user.name %> <br>
Mood: <%= @user.mood %> <br>

Height: <%= @user.height %> <br>
Tickets: <%= @user.tickets %> <br>

<%= link_to "See attractions", attractions_path %>
<%= link_to "Log Out", signout_path, method: :delete %>
